<!DOCTYPE html>
<html lang="en">
<head>
	<title>Wishpool</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no">

	<!-- External depedencies, drawn from CDNs -->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>

	<!-- Internal depedencies, inject from bower_components
	<script src="/bower_components/angular-cookie/angular-cookie.js"></script>
	<script src="/bower_components/ng-token-auth/dist/ng-token-auth.js"></script>
	-->
	<!-- Internal dependencies -->
	<script src="main.js"></script>
	<link href="style.css" rel="stylesheet">
	
	<!-- Native Integration -->
	<link href="manifest.json" rel="manifest">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Wishpool App">
	<link rel="apple-touch-icon" href="assets/Wishpool-Logo-192.png">

</head>
<body>
	<!-- Top bar -->
	<div ng-app="wishpoolApp" layout="column" class="wishpool-container" ng-controller="ApplicationController">
		<div class="toolbar__wrapper" ng-controller="TopbarCtrl as TCtl" ng-if="currentUser">
			<md-toolbar class="toolbar md-whiteframe-4dp" layout="row">
				<div class="md-toolbar-tools toolbar__content">
					<h3 ng-click="goToLanding()">Wishpool</h3>
					<span flex></span>
					<md-menu md-position-mode="target-right target">
						<md-button class="md-icon-button" aria-label="More" ng-click="TCtl.openMenu($mdOpenMenu, $event)">
			        <md-icon md-font-set="material-icons">more_vert</md-icon>
			      </md-button>
						<md-menu-content width="3">
							<!--<md-menu-item>
			          <md-button ng-click="TCtl.goToSetting()">
			            Settings
			          </md-button>
		        	</md-menu-item> -->
							<md-menu-item>
			          <md-button ng-click="TCtl.handleLogout()">
			            Logout
			          </md-button>
		        	</md-menu-item>
			      </md-menu-content>
					</md-menu>
				</div>
			</md-toolbar>

		</div>
		<navbar></navbar>
		<ui-view flex></ui-view>

		<div class="wishpool-modal__container" ng-show="showProgressDialog">
			<div class="wishpool-modal__dialog md-whiteframe-4dp" layout="column" layout-align="center center">
				 <md-progress-circular class="md-accent" md-diameter="40"></md-progress-circular>
				 <br/>
				 {{loadingMessage}}
			</div>
		</div>
	</div>
</body>

</html>
