<!DOCTYPE html>
<html lang="en">
<head>
	<title>Wishpool</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Can throw in Facebook JS SDK and other API scripts here -->
	<script>
	</script>
	<!-- External depedencies, drawn from CDNs -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>

	<!-- Internal depedencies, inject from bower_components -->
	<script src="/bower_components/angular-cookie/angular-cookie.js"></script>
	<script src="/bower_components/ng-token-auth/dist/ng-token-auth.js"></script>

	<!-- Internal dependencies -->
	<script src="main.js"></script>
	<link href="style.css" rel="stylesheet">

</head>
<body>
	<!-- Top bar -->
	<div ng-app="wishpoolApp" layout="column" class="wishpool-container">
		<md-toolbar ng-controller="TopbarCtrl as TCtl" class="md-whiteframe-z2" id="toolbar" layout="row">
			<div class="md-toolbar-tools">
				<h3 ng-click="goToLanding()">Wishpool</h3>
				<span flex></span>
				<md-menu md-position-mode="target-right target" >
					<md-button class="md-icon-button" aria-label="More" ng-click="TCtl.openMenu($mdOpenMenu, $event)">
		        <md-icon md-font-set="material-icons">more_vert</md-icon>
		      </md-button>
					<md-menu-content width="3" >
						<md-menu-item>
		          <md-button ng-click="TCtl.goToSetting()">
		            Settings
		          </md-button>
	        	</md-menu-item>
						<md-menu-item>
		          <md-button ng-click="TCtl.handleLogout()">
		            Logout
		          </md-button>
	        	</md-menu-item>
		      </md-menu-content>
				</md-menu>
			</div>
		</md-toolbar>
		<navbar></navbar>
		<ui-view flex></ui-view>
	</div>
</body>

</html>
