<md-list id="feedlist" layout="column">
	<md-list-item class="md-hue-3" ng-repeat="month in months" layout="column">
		<h2 class="monthHeader">{{month.name}}</h2>
		<md-grid-list layout-fill class="feedGrid" md-cols-xs="3" md-cols-sm="3" md-cols-gt-sm="4" md-row-height="1:1" md-gutter="20px">	  
			<md-grid-tile class="gray" ng-repeat="friend in month.friends" md-colspan-xs="1" ng-click="goToWishlist()">
				<img class="friendProfilePic" src="{{friend.source}}">
  			<md-grid-tile-footer class="friendFooter">
      		<p>{{friend.firstName}}</p>
    		</md-grid-tile-footer>
  		</md-grid-tile>
		</md-grid-list>
		</div>	
		</div>
	<md-divider></md-divider>
	</md-list-item>

</md-list>


<!-- 
<h4 class="wishLabel">{{month.name}}</h4>
		<md-grid-list class="feedGrid" md-cols-xs="3" md-cols-sm="3" md-cols-gt-sm="4" md-row-height="1:1" md-gutter="20px">	  
			<md-grid-tile class="gray" ng-repeat="friend in month.friends" md-colspan-xs="1"> 
				<img class="friendProfilePic" src="{{friend.source}}">
  			<md-grid-tile-footer>
      		<p>{{friend.firstName}}</p>
    		</md-grid-tile-footer>
  		</md-grid-tile>
		</md-grid-list>
-->