<div class="container">
	<div class="wishlist__container" layout="column">
		<div class="wishlist__cover-container">
			<img class="wishlist__cover-photo" src="{{user.uid | facebookPhoto}}"/>
			<div class="wishlist__user-info">
				<h2 class="wishlist__user-name"> {{user.name}} </h2>
				<span class="wishlist__user-birthdate"> {{user.birthday}} </span>
			</div>
		</div>
		<md-list-item class="wishlist__wish-item md-hue-3" ng-repeat="wish in wishes" ui-sref="wish({userId: pageUserId, wishId: wish.id })">
			<div class="wishlist__wish-icon  md-whiteframe-4dp" style="background-image: url({{wish.image_file_name | thumnailPhoto | defaultPhoto}})"> </div>
			<div flex>
				<h3 class="wishlist__wish-name">{{wish.name}}</h3>
				<div class="wishlist__wish-price"> <span ng-hide="true" class="wishlist__wish-price--accumulated"> ${{wish.accumulated}} / </span> <span class="wishlist__wish-price--accumulated"> <span class="wishlist__wish-price--total"> ${{wish.expected_price}} </span> </div>
				<md-progress-linear ng-hide="true" class="wishlist__wish-progress" md-mode="determinate" value="{{ 100 * wish.accumulated / wish.expected_price}} "></md-progress-linear>
			</div>
			<md-button class="md-icon-button" aria-label="Delete" ng-if="wish.canDelete" ng-click="deleteWish($event, $index)">
				<md-icon md-font-set="material-icons">delete_forever</md-icon>
			<md-button>
			<md-divider></md-divider>
		</md-list-item>

		<div class="wishlist__empty-container" layout="column" layout-align="center center" ng-if="!wishes.length">
			<div class="wishlist__empty-icon"> </div>
			No wish yet!
		</div>
	</div>
	<md-button class="md-raised md-primary wishlist__add-wish-button" ui-sref="wishadd({userId: pageUserId})">Add A Wish</md-button>
</div>
