.toolbar {
	
	&__wrapper {
		height: $tool-bar-height;
	}

	&__content {
		height: $tool-bar-height!important;
		max-height: $tool-bar-height!important;
	}

	h3 {
		font-weight: bold;
		@include tappable;
	}

	position: fixed;
	top: 0;
	left: 0;
	z-index: $z-index-top-level;
	min-height: 0;

}


.navbar {
  position: fixed;
  left: 0;
  top: $tool-bar-height;
  width: 100%;
  z-index: $z-index-top-level;
  background: white;
	
	// the code below is used to fix the bug of the angular material with nav-bar
	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		width: 100%;
		max-width: $max-container-width;
		margin: auto;
	}

	li {
		width: 50%;
		button {
			width: 100%;
		}
		.md-unselected .material-icons {
			color: rgba(0,0,0,0.54);
		}
	}

	&__wrapper {
	  height: $nav-bar-height;
	}

}

