body {
	width: 100vw;
	height: 100vh;
}

.wishpool-container {
	width: 100vw;
	height: 100vh;
	margin: auto;
}

.container {
	max-width: $max-container-width;
	margin: auto;
	position: relative;
}

@keyframes appearFromBottom {
	0% {
		transform: translate(0, 150%);
	}
}

@keyframes appearOpacity {
	0% {
		opacity: 0;
	}
}

@keyframes appearOpacityLate {
	0% {
		opacity: 0;
	}
	99% {
		opacity: 0;
	}
}
