.md-dialog-container{
	position: fixed;
	top: 0 !important;
	height: 100vh;
	max-height: 100vh;
}
.md-dialog-container md-dialog{
	max-height: 100vh;
}

.wishpool-container {
	width: 100vw;
	height: 100vh;
	margin: auto;
}

.container {
	max-width: $max-container-width;
	margin: auto;
	position: relative;
}

@keyframes appearFromBottom {
	0% {
		transform: translate(0, 150%);
	}
}

@keyframes appearOpacity {
	0% {
		opacity: 0;
	}
}

@keyframes appearOpacityLate {
	0% {
		opacity: 0;
	}
	99% {
		opacity: 0;
	}
}

.wishpool-modal {
	&__container {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.3);
		z-index: 1000;
		overflow: auto;
	}

	&__dialog {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 80%;
		max-width: 300px;
		min-height: 180px;
		background: white;
		border-radius: 5px;
		color: $normal-text-color;
	}
}

.fb-comments {
	width: 100%;
	margin-top: 20px;
	padding: 10px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
