#landing {
	background-color: 	#D8BFD8;
	background-repeat: no-repeat;
	background-size: 220% 100%;
	text-align: center;
	height: 95vh;

	color: white;
	text-shadow: 1px 1px 0 #000;

	h2 {
		margin-bottom: 3px;
	}

	.landingText {
		background-color: rgba(0, 0, 0, 0.5);
		width: 100%;
	}
}