.landing-page {

	&__container {
		@include background-image-cover;
		background-image: url(https://www.ripleyaquariums.com/canada/files/2016/02/adult-birthday-parties-full-group.jpg);
		text-align: center;
		height: 100%;

		color: white;
		text-shadow: 1px 1px 0 #000;
		position: relative;
	}

	&__mask {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
	}

	&__text {
		margin-bottom: 40px;
		position: relative;
		z-index: 10;

		&--title, &--desc {
			line-height: 1.5;
			margin: 0;
		}

		&--desc {
			font-weight: normal;
		}
	}

	&__login-button {
		background-color: #3b5998!important;
		color: white!important;
		padding: 5px 20px 5px 0;
	}

	&__fb-icon {
		width: 30px;
		height: 30px;
		margin-right: 10px;
	}
}
