@mixin tappable {
  cursor: pointer;
  user-select: none;
}

@mixin background-image-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin reset-link-style {
  text-decoration: none;
  color: $black80;
}

@mixin fixed-button-inside {
  position: fixed;
	max-width: $max-container-width;
	transform: translate(-50%, 0);
	bottom: 0;
	left: 50%;
	width: 100%;
	margin: 0;
	padding: 5px;
  z-index: $z-index-top-level;
}
