.wishlist {

	&__container {
		padding-bottom: 100px;
	}

	&__cover-container {
		width: 100%;
		margin-bottom: 20px;
		position: relative;
	}

	&__cover-photo {
		width: 100%;
		height: auto;
	}

	&__user-info {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 15px 20px 10px;
		background: rgba(0, 0, 0, .3);
		width: 100%;
		box-sizing: border-box;
	}

	&__user-name, &__user-birthdate {
		line-height: 1;
		color: white;
		margin: 0;
	}

	&__user-birthdate {
		font-size: 12px;
		margin-top: 10px;
	}

	&__wish-name {
		color: $complement-color;
		line-height: 1.2;
		margin: 0 auto;
	}

	&__wish-price {
		font-size: 14px;
		line-height: 1;
		margin: 15px 0 5px;
		&--accumulated {
			color: rgba(0, 0, 0, 0.5);
		}

		&--total {
			color: rgba(0, 0, 0, 0.8);
		}
	}

	&__wish-icon {
		@include background-image-cover;
		width: 100px;
		height: 100px;
		margin: 10px 20px 10px 0;
		flex-shrink: 0;
	}

	&__wish-progress {
		margin-top: 5px;
		width: 150px;
		height: 20px;
	}

	&__empty-container {
		margin-top: 10px;
		width: 100%;
		color: gray;
	}

	&__empty-icon {
		@include background-image-cover;
		background-image: url(./assets/gift.png);
		width: 50px;
		height: 50px;
		margin-bottom: 10px;
	}
}

.wishlist__add-wish-button {
	@include fixed-button-inside;
	font-weight: bold;
	border-radius: 0;
}
