.wish {
	animation: appearFromBottom 0.3s, appearOpacity 0.3s;
	margin-bottom: 50px!important;

	.contributorIcon {
		width: 30px;
		height: 30px;
		border-radius: 8px;
		margin-left: 4px;
		margin-right: 4px;
	}

	.wishLabel {
		margin: 5px;
		margin-top: 10px;
		color: $complement-color;
	}

	.wish-label-content {
		color: $normal-text-color;
		font-size: 14px;
		font-weight: normal;
	}

	.wishImage {
		width: 100%;
		max-width: 1000px;
		height: 10%;
		max-height: 500px;
		margin-bottom: 15px;
	}

	.contributorIcons {
		margin-top: 5px;
		margin-bottom: 10px;
	}

	md-progress-linear {
		margin-left: 5px;
		margin-top: 5px;
		width: 80%;
	}

	.noContributors {
		margin-top: 1px;
	}
}

.contributeButton {
	@include fixed-button-inside;
}

md-dialog {
	max-width: 400px!important;
	width: 80%;
}
