.addwish {
	padding: 0 20px;
	max-width: 500px;
	margin-bottom: 50px!important;
	animation: appearFromBottom 0.3s;

	md-input-container {
		margin-top: 3px;
		margin-bottom: 3px;
	}
	&__title {
		color: $complement-color;
		line-height: 1;
		margin: 20px auto;
		text-align: center;
	}

	.newWishPublicity {
		text-align: center;
		align-self: flex-start;
	}

	.md-datepicker-input {
		width: 300px;
	}

  .footer {
		@include fixed-button-inside;
		background: white;
		animation: appearOpacityLate 0.3s;
  }
}
