.addwish {
	margin-left: 10px;
	margin-right: 10px;
	md-input-container {
		margin-top: 3px;
		margin-bottom: 3px;
	}
	.header {
		text-align: center;	
	}

	.newWishPublicity {
		text-align: center;
	}

	.md-datepicker-input {
		width: 300px; 
	}

  .footer {     
  	text-align: center;   
  }

	
}	