<form class="container addwish md-inline-form" ng-submit="addWish()">

	<h3 class="addwish__title">Add A Wish</h3>

  <div layout="column">
    <md-input-container>
      <label>What's the name of {{userSeesOwnWishlist ? "your" : "their"}} wish?</label>
      <input ng-model="newWishName">
    </md-input-container>

	  <md-input-container flex>
		  <label>What's its price (if any) in SGD?</label>
		  <input ng-model="newWishPrice">
		</md-input-container>

		<md-input-container class="newWishExpiry">
			<label>When should {{userSeesOwnWishlist ? "you" : "they"}} get it by?</label>
			<md-datepicker ng-model="newWishExpiry"  md-hide-icons="calendar">
			</md-datepicker>
		</md-input-container>

		<md-input-container>
	  	<label>Paste the URL of an image for reference!</label>
	  	<input ng-model="newWishSource">
		</md-input-container>

		<input type="file" name="pic" accept="image/*" onchange="angular.element(this).scope().fileNameChanged(this)"/>

	  <md-input-container class="md-block">
      <label>Describe the wish.</label>
      <textarea ng-model="newWishDescription" maxlength="200" rows="1" md-select-on-focus></textarea>
  	</md-input-container>

		<md-switch class="newWishPublicity" ng-model="newWishIsPublic" layout-align="center" ng-hide={{userSeesOwnWishlist}}>
			The receiver {{newWishIsPublic ? "can" : "cannot" }} see this wish.
		</md-switch>
 </div>


 <div class="footer" layout="row">
 	<md-button flex="50" class="md-raised md-primary" type="submit">Submit</md-button>
	<md-button flex="50" class="md-raised" ng-click="cancel()"> Cancel </md-button>
 </div>

</form>
